body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  box-sizing: border-box;
}

.HomeView {
  padding: 16px 0;
}

.HomeView .HomeView-title {
  text-transform: uppercase;
  text-align: center;
}

.HomeView .HomeView-volumes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Page {
  display: block;
  margin: auto;
  max-height: calc(100vh);
  max-width: calc(100vw);
}

.HomeView .Page {
  max-height: calc(100vh - 81px);
  max-width: 100vw;
}

@media (min-width: 768px) {
  .HomeView .Page {
    max-width: 50vw;
  }
}

.buttonRow {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}

.button {
  background-color: #336699;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin: auto;
}
